documentation/osgi-packages.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="https://github.com/grgrzybek/osgi-packages/1"
        xmlns:tns="https://github.com/grgrzybek/osgi-packages/1"
        version="1.0">

    <element name="osgi-packages" type="tns:osgi-packagesType" />

    <complexType name="osgi-packagesType">
        <sequence>
            <any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" processContents="lax" />
        </sequence>
        <attribute name="base" />
    </complexType>

</schema>
